
@{
    ViewBag.Title = "Job Info";
}

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- /.row -->
        <div class="col-lg-12">
            <div class="row">
                <div class="page-header">
                    <h3>Job Information</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="bg-primary">
                                <th>Title</th>
                                <th>Manager</th>
                                <th>Department</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in (ViewData["Info"] as IEnumerable<IWESS.Models.CJobHistory>))
                            {
                                <tr>
                                    <td>@row.JobTitle</td>
                                    <td>@row.Manager</td>
                                    <td>@row.Dept</td>
                                    <td>@row.UpdateType</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>

                @*<div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#004d50; border: none; color: #fff;">
                    Job History
                </div>
                <div class="panel-body">
                </div>



            </div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <div class="page-header">
                <h4 class="text-info">Most Recent Links</h4>
            </div>
            <div class="list-group">
                <a href="@Url.Action("PayStubList", "Operation")" class="list-group-item">
                    <h4 class="list-group-item-heading">Salary Details</h4>
                    <p class="list-group-item-text">View your salary payslips</p>
                </a>
                <a href="@Url.Action("BankInfo", "Operation")" class="list-group-item success">
                    <h4 class="list-group-item-heading">Bank details</h4>
                    <p class="list-group-item-text">View the details of your bank account number, bank account name and bank details</p>
                </a>
                <a href="@Url.Action("JobInfo", "Operation")" class="list-group-item">
                    <h4 class="list-group-item-heading">Job History</h4>
                    <p class="list-group-item-text">View your job history, projects and job promotions on the ESS Portal</p>
                </a>
            </div>
        </div>*@
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>




